<div class="add-shopping-cart-title">
    <img ng-src="{{vm.productInfo.img}}" alt="" />
    {{vm.productInfo.name}}
    <em>￥{{vm.productInfo.price}}</em>
    <div ng-click="pageBack()" class="add-shopping-cart-title-back">
    </div>
</div>
<div class="scrollable">
    <div class="scrollable-content add-shopping-cart-content" scroll>
        <div class="add-shopping-cart-setup">
            <div ng-hide="true" class="setup-item">
                <div class="select-title">
                    净含量：
                </div>
                <div class="select-weight">
                    <button ng-repeat="weight in vm.productInfo.weight_items" class="btn btn-default" ng-class="{'selected-weight': weight == vm.productInfo.select_weight}" ng-click="vm.productInfo.select_weight = weight">{{weight}}</button>
                </div>
            </div>
            <div class="setup-item">
                <div class="select-title-left">
                    数量：
                </div>
                <div class="select-num">
                    <div class="btn-group" role="group" aria-label="...">
                      <button ng-click="vm.productInfo.buy_num = (vm.productInfo.buy_num > 1) ? vm.productInfo.buy_num - 1 : 1" type="button" class="btn btn-default">-</button>
                      <span class="btn btn-default">{{vm.productInfo.buy_num || 0}}</span>
                      <button ng-click="vm.productInfo.buy_num = vm.productInfo.buy_num + 1" type="button" class="btn btn-default">+</button>
                    </div>
                </div>
            </div>
            <div ng-hide="true" class="setup-item">
                <div class="select-title-left">
                    研磨：
                </div>
                <div class="select-item-right">
                    <ui-switch  ng-model="vm.productInfo.grind"></ui-switch>
                </div>
            </div>
            <div ng-hide="true" class="setup-item">
                <div class="select-title">
                    研磨程度：
                </div>
                <div class="select-weight">
                    <button ng-repeat="deep in vm.grind_deeps" class="btn btn-default" ng-class="{'btn-danger': deep == vm.productInfo.select_grind_deep}" ng-click="vm.productInfo.select_grind_deep = deep">{{deep}}</button>
                </div>
            </div>
            <div class="setup-item">
                <div class="select-title-left">
                    烘焙：
                </div>
                <div class="select-item-right">
                    <ui-switch  ng-model="vm.productInfo.baking"></ui-switch>
                </div>
            </div>
            <div class="setup-item">
                <div class="select-title-left">
                    烘焙数量：
                </div>
                <div class="select-num">
                    <div class="btn-group" role="group" aria-label="...">
                      <button ng-click="vm.productInfo.baking_num = (vm.productInfo.baking_num > 0) ? vm.productInfo.baking_num - 1 : 0" type="button" class="btn btn-default">-</button>
                      <span class="btn btn-default">{{vm.productInfo.baking_num || 0}}</span>
                      <button ng-click="vm.productInfo.baking_num = vm.productInfo.baking_num + 1" type="button" class="btn btn-default">+</button>
                    </div>
                </div>
            </div>
            <div class="setup-item">
                <div class="select-title">
                    烘焙程度：
                </div>
                <div class="select-weight">
                    <button ng-repeat="deep in vm.baking_deeps" class="btn btn-default" ng-class="{'btn-danger': deep == vm.productInfo.select_baking_deep}" ng-click="vm.productInfo.select_baking_deep = deep">{{deep}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="detail-buy-buttons navbar-absolute-bottom detail-buy-buttons-wide">
    <div ng-show="!vm.isAddCart" ng-click="vm.buyIt()" class="btn btn-danger">
        下一步
    </div>
    <div ng-show="vm.isAddCart" ng-click="vm.joinCart();" class="btn btn-danger">
        加入购物车
    </div>
</div>