<div class="area-title">
    <div ng-click="pageBack()" class="area-title-back">
        返回
    </div>
    按国家地区筛选
</div>
<div ng-hide="true" class="area-search">
    <input type="text" ng-model="vm.searchText" placeholder="输入城市名或拼音">
</div>
<div class="scrollable">
    <div class="scrollable-content area-content" scroll>
        <div ng-click="vm.doSelectArea(a)" ng-class="{'select-area': vm.selectArea == a}" class="area-item" ng-repeat="a in vm.areas track by $index">{{a}}</div>
    </div>
</div>