<div class="btn-group justified">
  <a href="#/" class="btn btn-navbar"><i class="fa fa-home fa-navbar"></i></a>
  <div class="btn btn-navbar">
    <span ui-turn-on='dropdown1'>
      <i class="fa fa-bars"></i>
      咖啡生豆
    </span>
    <ul 
      class="dropdown-menu"
      ui-outer-click="Ui.turnOff('dropdown1')"
      ui-outer-click-if="Ui.active('dropdown1')"
      role="menu"
      ui-show="dropdown1" 
      ui-state="dropdown1"
      ui-turn-off="dropdown1">
      <li><a href="#/">麦啡商城</a></li>
      <li><a href="#/list2?type=1">生  豆</a></li>
      <li><a href="#/list3?type=2">coffeefans</a></li>
    </ul>
  </div>
  <div class="btn btn-navbar">
    <span ui-turn-on='dropdown2'>
      <i class="fa fa-bars"></i>
      团购活动
    </span>
    <ul 
      class="dropdown-menu"
      ui-outer-click="Ui.turnOff('dropdown2')"
      ui-outer-click-if="Ui.active('dropdown2')"
      role="menu"
      ui-show="dropdown2" 
      ui-state="dropdown2"
      ui-turn-off="dropdown2">
      <li><a href="#/group_purchase">限时抢购</a></li>
      <li><a>活动预告</a></li>
    </ul>
  </div>
  <div class="btn btn-navbar">
    <span ui-turn-on='dropdown3'>
      <i class="fa fa-bars"></i>
      会员中心
    </span>
    <ul
      class="dropdown-menu dropdown-menu-last"
      ui-outer-click="Ui.turnOff('dropdown3')"
      ui-outer-click-if="Ui.active('dropdown3')"
      role="menu"
      ui-show="dropdown3" 
      ui-state="dropdown3"
      ui-turn-off="dropdown3">
      <li><a href="#/member_ship">个人主页</a></li>
      <li><a>购物指南</a></li>
      <li><a>客服电话</a></li>
      <li><a href="#/your_coffee">你的咖啡</a></li>
      <li><a href="#/reg">注册</a></li>
    </ul>
  </div>
  <a ng-show="hasCart" class="shop_cart_tip" href="#/edit_shopping_cart"></a>
</div>