<div class="area-title">
    <div ng-click="pageBack()" class="area-title-back">
        返回
    </div>
    我的收藏
</div>
<div class="scrollable">
    <div ng-init="vm.getList()" class="scrollable-content collection-content" scroll>
        <div class="collection-item" ng-repeat="a in vm.items track by $index">
            <img ng-src="{{a.thumbnail}}" alt="" />
            <div class="collection-title">
                <h4><a href="#/detail?item={{a.id}}">{{a.name}}</a><em>￥{{a.price}}</em></h4>
                <a class="collection-buy" ng-click="vm.buyIt(a)" href="javascript:;">立即购买</a>
                <a class="collection-del" ng-click="vm.delIt(a)" href="javascript:;">取消收藏</a>
            </div>
        </div>
        <div ng-show="vm.items.length <= 0" class="collection-no-item">
            暂无收藏~
        </div>
    </div>
</div>