<ul class="edit-shopping-cart-title nav nav-tabs" ui-state='activeTab' ui-default='1'>
  <li ui-class="{'active': activeTab == 1}">
    <a ui-set="{'activeTab': 1}">购物车</a>
  </li>
  <li ui-class="{'active': activeTab == 2}">
    <a ui-set="{'activeTab': 2}">购物记录</a>
  </li>
</ul>
<div class="scrollable">
    <div class="scrollable-content edit-cart-content" scroll>

        <div ng-init="vm.initList()" class="tab-cont" ui-if="activeTab == 1">
            <div ng-repeat="p in vm.products" class="edit-cart-item">
                <div class="product-title">店铺：{{p.shop_name}}<a href="javascript:;" ng-click="vm.doedit=!vm.doedit">编辑</a></div>
                <div class="product-desc-wrap">
                    <div ng-hide="vm.doedit" class="product-choose"><span ng-class="{'select-product':p.be_selected}" ng-click="p.be_selected=!p.be_selected;vm.calculateTotlePrice();"></span></div>
                    <div class="product-desc">
                        <img ng-src="{{p.img}}" alt="" />
                        {{p.name}}
                        <span>{{p.select_weight}}</span>
                    </div>
                   <div class="product-price">￥{{p.price}}<span>x{{p.buy_num}}</span></div>
                </div> 
            </div>
        </div>

        <div class="tab-cont" ui-if="activeTab == 2">
        </div>

    </div>
</div>
<div ng-init="vm.calculateTotlePrice()" class="edit-shopping-cart-buy-buttons navbar-absolute-bottom">
    <div class="select-product" ng-click="vm.doSelectAll();"><span ng-class="{'select-all-product':vm.selectAll}"></span>全选</div>
    <div class="total-price">合计：{{vm.totalPrice}}元</div>
    <div class="btn btn-danger">
        结算({{vm.products.length}})
    </div>
</div>