<ul class="edit-shopping-cart-title nav nav-tabs" ui-state='activeTab' ui-default='1'>
  <li ui-class="{'active': activeTab == 1}">
    <a ui-set="{'activeTab': 1}">购物车</a>
  </li>
  <li ui-class="{'active': activeTab == 2}">
    <a ui-set="{'activeTab': 2}">购物记录</a>
  </li>
</ul>
<div class="scrollable">
    <div class="scrollable-content edit-cart-content" scroll>

        <div ng-init="vm.initList(true)" class="tab-cont" ui-if="activeTab == 1">
            <div ng-repeat="p in vm.products" class="edit-cart-item">
                <div class="product-title">订单时间：{{p.product.createDate | humanDate}}<a ng-click="vm.deleteProduct(p.cartItemId)" href="javascript:;">删除</a></div>
                <div class="product-desc-wrap">
                    <div class="product-desc">
                        <img ng-src="{{p.product.image}}" alt="" />
                        {{p.product.fullName}}
                        <!-- <span>{{p.select_weight}}</span> -->
                    </div>
                   <div class="product-price">￥{{p.price}}<span>x{{p.quantity}}</span></div>
                </div> 
            </div>
        </div>

        <div class="tab-cont" ui-if="activeTab == 2">
        </div>

    </div>
</div>
<div class="edit-shopping-cart-buy-buttons navbar-absolute-bottom">
    <div class="total-price">合计：{{vm.totalPrice}}元</div>
    <div ng-click="go('/pay_order')" class="btn btn-danger">
        结算({{vm.products.length}})
    </div>
</div>