<ul ng-show="vm.groupPurchaseDates.length > 0" class="group-purchase-title nav nav-tabs">
  <li ng-repeat="t in vm.groupPurchaseDates" ng-class="{'active': vm.curTime == t}">
    <a ng-click="vm.getGroupProducts(t)">{{t | killYear}}<span>{{t | groupTime}}</span></a>
  </li>
</ul>
<div class="scrollable">
    <div class="scrollable-content group-purchase-content" scroll>

        <div class="tab-cont">
<!--             <div class="group-purchase-tip">
              限时限量 疯狂抢购
              <span>距离本场结束 00:21:14</span>
            </div> -->
            <div ng-repeat="p in vm.groupProducts" class="purchase-item">
                <img ng-src="images/p1.jpg" alt="" />
                <div class="item-desc">
                    <h3>{{p.name}}</h3>
                    <div class="item-price"><span>￥{{p.price}}</span><del ng-hide="true">￥</del></div>
                    <div class="item-remaining">{{p.remainingTime}}</div>
                    <span ng-show="vm.isPreDate" ng-click="vm.buyIt({{p}})" class="item-select">马上抢</span>
                </div>
                <div class="item-last">
                    <span class="item-percent">已抢购{{p.saleEd / p.maxSale * 100 | ceilNum}}%</span>
                    <span class="item-percent-tip"><em style="width:{{p.saleEd / p.maxSale * 100 | ceilNum}}%"></em></span>
                    <span class="item-get">已抢{{p.saleEd}}件</span>
                </div>
            </div>
        </div>
        <div ng-show="vm.groupProducts.length == 0" class="tab-cont-none">
            暂无团购信息~
        </div>

        <!-- <div class="tab-cont" ui-if="activeTab == 2">
            <div class="group-purchase-tip">
              提前设置提醒不错过
              <span>距离本场开始 00:21:14</span>
            </div>
            <div class="purchase-item">
                <img ng-src="images/p1.jpg" alt="" />
                <div class="item-desc">
                    <h3>精品意大利咖啡豆 新鲜中深度烘培 香醇浓厚</h3>
                    <div class="item-price"><span>￥39.9</span><del>￥118</del></div>
                    <span class="item-alert">提醒我</span>
                </div>
                <div class="item-alert-time">
                    <span class="item-time">15:00准时开抢</span>
                    <span class="item-attention">1.3万人已关注</span>
                </div>
            </div>
        </div>

        <div class="tab-cont" ui-if="activeTab == 3">
            <div class="purchase-item">
                <img ng-src="images/p1.jpg" alt="" />
                <div class="item-desc">
                    <h3>精品意大利咖啡豆 新鲜中深度烘培 香醇浓厚</h3>
                    <div class="item-price"><span>￥39.9</span><del>￥118</del></div>
                    <span class="item-alert">提醒我</span>
                </div>
                <div class="item-alert-time">
                    <span class="item-time">15:00准时开抢</span>
                    <span class="item-attention">1.3万人已关注</span>
                </div>
            </div>
        </div>

        <div class="tab-cont" ui-if="activeTab == 4">
            <div class="purchase-item">
                <img ng-src="images/p1.jpg" alt="" />
                <div class="item-desc">
                    <h3>精品意大利咖啡豆 新鲜中深度烘培 香醇浓厚</h3>
                    <div class="item-price"><span>￥39.9</span><del>￥118</del></div>
                    <span class="item-alert">提醒我</span>
                </div>
                <div class="item-alert-time">
                    <span class="item-time">15:00准时开抢</span>
                    <span class="item-attention">1.3万人已关注</span>
                </div>
            </div>
        </div> -->

    </div>
</div>