<section class="section container-fluid home-container">
  <div class="home-ad-banner">
      <ul rn-carousel rn-carousel-index="vm.carouselIndex">
        <li ng-repeat="item in vm.slides track by $index">
            <img ng-src="{{item.img}}" alt="{{item.img}}">
        </li>
      </ul>
      <div class="ad-indicator" rn-carousel-indicators ng-if="vm.slides.length > 1" slides="vm.slides" rn-carousel-index="vm.carouselIndex"></div>
  </div>
  <!-- <div class="home-links">
      <div class="links-cont">
          <a href="/#/list?type=0">精品级</a>
          <a href="/#/list?type=1">商业级</a>
          <a href="/#/list?type=2">高级商业</a>
      </div>
      <div class="links-cont">
          <a class="one-link" href="#">团购活动</a>
      </div>
  </div> -->
</section>