<section class="list-container">
  <div class="list-nav">
    <div href="javascript:;" class="btn btn-navbar">
    <span ui-turn-on='listDropdown'>精品级咖啡豆<i class="fa fa-chevron-circle-down"></i></span>
    <ul 
      class="dropdown-menu"
      ui-outer-click="Ui.turnOff('listDropdown')"
      ui-outer-click-if="Ui.active('listDropdown')"
      role="menu"
      ui-show="listDropdown" 
      ui-state="listDropdown"
      ui-turn-off="listDropdown">
      <li><a href="javascript:vm.getList(0)">精品级</a></li>
      <li><a href="">商业级</a></li>
      <li><a href="">高级商业</a></li>
    </ul>
    </div>

    <div class="list-place" ng-click="go('/area')"><i class="fa fa-map-marker fa-2x"></i></div>
  </div>

  <div class="scrollable">
    <div class="scrollable-content" scroll>
      <div class="list-banner">
        <img src="{{vm.adImage}}" alt=""/>
      </div>

      <div class="list-cont">
        <a href="#/detail?item={{item.id}}" ng-repeat="item in vm.items track by $index" class="list-item">
          <img ng-src="{{item.image}}" alt="" />
          <h4>{{item.name}}</h4>
          <p><em>￥{{item.price}}</em>{{item.sales}}人付款 <span class="item-buy"></span></p>
        </a>
      </div>
    </div>
  </div>

</section>