<section class="list-container">
  <div ng-hide="vm.type == 2" class="list-nav">
    <div class="btn btn-navbar">
    <span ui-turn-on='listDropdown'>{{vm.selectLevel}}级咖啡豆<i class="fa fa-chevron-circle-down"></i></span>
    <ul 
      id ="level_selector"
      class="dropdown-menu"
      ui-outer-click="Ui.turnOff('listDropdown')"
      ui-outer-click-if="Ui.active('listDropdown')"
      role="menu"
      ui-show="listDropdown" 
      ui-state="listDropdown"
      ui-turn-off="listDropdown">
      <li ng-repeat="l in vm.levels"><a ng-click="vm.doSelectLevel('{{l}}');Ui.turnOff('listDropdown')">{{l}}</a></li>
    </ul>
    </div>

    <div class="list-place" ng-click="go('/area')">{{vm.selectArea}}<i class="fa fa-map-marker fa-2x"></i></div>
  </div>

  <div class="scrollable">
    <div class="scrollable-content" scroll>
      <div ng-class="{'list-banner-notop':vm.type == 2}" class="list-banner">
        <img ng-src="{{vm.adImage}}" alt=""/>
      </div>

      <div class="list-cont" ng-class="{'low-list-cont':2==vm.type}">
        <a href="#/detail?item={{item.id}}&type={{vm.type}}" ng-repeat="item in vm.items track by $index" class="list-item">
          <img ng-src="{{item.image}}" alt="" />
          <h4>{{item.name}}
            <div ng-hide="vm.type == 2">
              等级: {{item.attributeValue1}}<br/>地域: {{item.attributeValue0}}
            </div>
          </h4>
          <p><em>￥{{item.price}}</em>{{item.sales}}人付款 <span class="item-buy"></span></p>
        </a>
      </div>
      <div class="list-group-next" ng-show="!vm.finishedDatas" ng-click="vm.getList(null, 'next')"><i class="fa"></i>加载更多</div>
    </div>
  </div>

</section>