<div class="scrollable">
    <div ng-init="vm.getInfo('member_info')" class="scrollable-content member-ship-content member-info-content" scroll>
        <div class="detail-item-group">
            <div class="detail-item">
                名称：{{vm.userinfo.username}}
            </div>
            <div class="detail-item">
                邮箱： {{vm.userinfo.email}}
            </div>
            <div class="detail-item">
                电话：{{vm.userinfo.phone}}
            </div>
            <div class="detail-item">
                会员级别：{{vm.userinfo.memberRank.name}}
            </div>
        </div>
    </div>
</div>