<div class="scrollable">
    <div class="scrollable-content member-ship-content" scroll>
        <div class="detail-title">
            <img src="images/ad1.jpg">
            <div class="title-desc">
                亲爱的小伙伴，欢迎光临 麦啡商城
            </div>
        </div>
        <div class="detail-item-tab">
            <div class="detail-tab">
                {{vm.memberShip.wait_pay}}
                <div>待付款</div>
            </div>
            <div class="detail-tab">
                {{vm.memberShip.wait_send}}
                <div>待发货</div>
            </div>
            <div class="detail-tab">
                {{vm.memberShip.sended}}
                <div>已发货</div>
            </div>
            <div class="detail-tab">
                {{vm.memberShip.done}}
                <div>已完成</div>
            </div>
        </div>
        <div class="detail-item detail-item-comment">
            订单评论<i class="fa fa-angle-right"></i>
        </div>

        <div class="detail-item-group">
            <div class="detail-item detail-item-record">
                我的购物记录<i class="fa fa-angle-right"></i>
            </div>
            <div class="detail-item detail-item-points">
                本店积分{{vm.userinfo.point}}<i class="fa fa-angle-right"></i>
            </div>
            <div class="detail-item detail-item-collect">
                我的收藏<i class="fa fa-angle-right"></i>
            </div>
        </div>
        <div class="detail-item detail-item-tel">
            客服电话<i class="fa fa-angle-right"></i>
        </div>
        <div ng-hide="true" class="detail-shop-wrap">
            <div class="detail-shop">
                Urcoffee  麦啡商城
                <a href="">进入店铺</a>
            </div>
        </div>

    </div>
</div>