<div class="scrollable">
    <div class="scrollable-content member-ship-content" scroll>
        <div class="detail-item-tab" ui-state='activeTab' ui-default='1'>
            <div class="detail-tab" ui-set="{'activeTab': 1}">
                {{vm.memberShip.wait_pay}}
                <div>待付款</div>
            </div>
            <div class="detail-tab" ui-set="{'activeTab': 2}">
                {{vm.memberShip.wait_send}}
                <div>待发货</div>
            </div>
            <div class="detail-tab" ui-set="{'activeTab': 3}">
                {{vm.memberShip.sended}}
                <div>已发货</div>
            </div>
            <div class="detail-tab" ui-set="{'activeTab': 4}">
                {{vm.memberShip.done}}
                <div>已完成</div>
            </div>
        </div>

        <div class="order-cont" ui-if="activeTab == 1">
            order1
        </div>
        <div class="order-cont" ui-if="activeTab == 2">
            order2
        </div>
        <div class="order-cont" ui-if="activeTab == 3">
            order3
        </div>
        <div class="order-cont" ui-if="activeTab == 4">
            order4
        </div>
    </div>
</div>