<div class="scrollable">
    <div class="scrollable-content edit-cart-content pay-order-content" scroll>
        <div ng-show="vm.selectReceiver" ng-click="go('/select_receiver')" class="pay-order-address">
            <h4>收货人: {{vm.selectReceiver.consignee}} <span>{{vm.selectReceiver.phone}}</span></h4>
            <p>收获地址: {{vm.selectReceiver.address}}</p>
            <i class="fa fa-angle-right"></i>
        </div>

        <div ng-show="!vm.selectReceiver" ng-click="go('/add_receiver')" class="pay-order-address-none">
            添加收货人<i class="fa fa-angle-right"></i>
        </div>

        <div ng-init="vm.initList()" class="tab-cont">
            <div ng-repeat="p in vm.products" class="edit-cart-item">
                <div class="product-title">订单时间：{{p.product.createDate | humanDate}}</div>
                <div class="product-desc-wrap">
                    <div ng-hide="vm.doedit" class="product-choose"><span ng-class="{'select-product':p.be_selected}" ng-click="p.be_selected=!p.be_selected;vm.calculateTotlePrice();"></span></div>
                    <div class="product-desc">
                        <img ng-src="{{p.product.image}}" alt="" />
                        {{p.product.fullName}}
                        <!-- <span>{{p.select_weight}}</span> -->
                    </div>
                   <div class="product-price">￥{{p.product.price}}<span>x{{p.product.buy_num}}</span></div>
                </div> 
            </div>
        </div>

        <div class="pay-order-word"><textarea ng-model="vm.memo" placeholder="请输入留言"></textarea></div>

        <div class="pay-order-total">
            合计<span>￥{{vm.totalPrice}}</span>
        </div>

        <div class="pay-order-point">
            积分：{{vm.userinfo.point}}
            <div class="pay-order-use-point">
                使用积分：<input type="text" ng-model="vm.usePoint" />
            </div>
        </div>
    </div>
</div>

<div ng-init="vm.calculateTotlePrice()" class="order-pay-button navbar-absolute-bottom">
    <div class="calcul-price">￥{{vm.totalPrice}} + ￥{{vm.sendPrice}}运费</div>

    <div class="total-price">合计：￥{{vm.totalPrice + vm.sendPrice}}元</div>

    <div ng-click="vm.payCart();" class="btn btn-danger">
        微信支付
    </div>
</div>