<div class="area-title">
    <div ng-click="pageBack()" class="area-title-back">
        返回
    </div>
    选择收获地址
    <a class="add-receiver-btn" href="#/add_receiver">新增</a>
</div>
<div class="scrollable">
    <div ng-init="vm.getList()" class="scrollable-content select-receiver-content" scroll>
        <div ng-click="vm.select(a)" class="receiver-item" ng-repeat="a in vm.items track by $index">
            <h4>{{a.consignee}} <span>{{a.phone}}</span></h4>
            <p>{{a.areaName}} {{a.address}}</p>
        </div>
        <div class="select-receiver-content-no" ng-show="vm.items.length <= 0">没有收获地址，点击新增添加。</div>
    </div>
</div>