.edit-shopping-cart-title {
    position: relative;
    z-index: 100;
    background: #fff;
}

.edit-cart-content {
    background: #f8f8f8;
    padding-top: 44px;
    padding-bottom: 50px;
    .tab-cont {
        .edit-cart-item {
            margin-top: 10px;
            padding: 10px;
            background: #fff;
            border-top: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5;
            .product-title {
                .clear-float();
                font-size: 16px;
                padding-bottom: 10px;
                a {
                    float: right;
                    font-size: 14px;
                    color: #f00;
                }
            }
            .product-desc-wrap {
                .display-flex();
                .clear-float();
                // .product-choose {
                //     width: 30px;
                //     float: left;
                //     font-size: 40px;
                //     text-align: center;
                //     span {
                //         display: block;
                //         border: 1px solid #4cd964;
                //         margin: 10px 0 0 5px;
                //         width: 20px;
                //         height: 20px;
                //         .border-radius(10px);
                //         &.select-product {
                //             background: url(../images/check.png) no-repeat -1px -1px;
                //             background-size: 20px 20px;
                //         }
                //     }
                // }
                .product-desc {
                    .flex-item();
                    position: relative;
                    padding-left: 60px;
                    color: #666;
                    img {
                        position: absolute;
                        width: 50px;
                        height: 50px;
                        top: 5px;
                        left: 5px;
                    }
                    span {
                        display: block;
                        padding-top: 5px;
                    }
                }
                .product-price {
                    width: 60px;
                    text-align: right;
                    font-size: 16px;
                    color: #666;
                    span {
                        display: block;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.edit-shopping-cart-buy-buttons.navbar-absolute-bottom {
    padding: 8px 5px;
    .display-flex();
    background: #fbfbfb;
    height: 46px;
    line-height: 30px;
    border-top: 1px solid #ccc;
    .box-shadow(0 2px 5px #666);
    .clear-float();
    // .select-product {
    //     float: left;
    //     padding-right: 10px;
    //     color: #f60;
    //     span {
    //         position: relative;
    //         top: 5px;
    //         display: inline-block;
    //         border: 1px solid #4cd964;
    //         width: 20px;
    //         height: 20px;
    //         margin-right: 5px;
    //         .border-radius(10px);
    //         &.select-all-product {
    //             background: url(../images/check.png) no-repeat -1px -1px;
    //             background-size: 20px 20px;
    //         }
    //     }
    // }
    .total-price {
        .flex-item();
        color: #f60;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }
    .btn {
        float: right;
        margin: 0 5px;
        line-height: 16px;
    }
    z-index: 100;
}