.list-container {
    background: #fff;
    .list-nav {
        height: 45px;
        padding-top: 5px;
        position: relative;        
        .list-place {
            position: absolute;
            right: 0;
            top: 5px;
            height: 34px;
            padding-top: 3px;
            width: auto;
            padding-right: 10px;
        }
    }
}