.navbar-app .btn, .navbar-app .btn-navbar {
    color: #737373;
}

.navbar-app .fa-home {
    font-size: 25px;
    position: relative;
    top: 3px;
}

.navbar-app .btn {
    padding: 0 8px;
    border-right: 1px solid #b1b1b1 !important;


    .dropdown-menu {
        top: auto;
        bottom: 105%;
    }
}

.navbar-app .btn:last-child {
    border-right: 0 none !important;
}

.fa-ellipsis-v {
    padding-right: 4px;
}

.dropdown-menu {
    left: 0;
    bottom: auto;
    top: 100%;
    width: 100px;
    min-width: 85px;
    >li {
        padding: 0 5px;
        >a {
            text-transform: lowercase;
            text-align: center;
            padding: 8px 0;
            border-bottom: 1px solid #bfbfbf;
        }
        >a:active {
            background: #333;
            color: #fff;
        }
    }
    >li:last-child>a {
            border-bottom: 0 none;
    }
}
.dropdown-menu-last {
    left: auto;
    right: 0;
}